<div class="top__bar">
  <h1>Note Keeper</h1>
</div>
<div class="main__content">
  <div class="notes__info">
    <div>
      <span id="nav__button" class="material-icons" (click)="showNotes()">
        dehaze
      </span>
      <ul>
        <div [style.display]="showStyle" class="notes__data">
          <input class="form-control mb-2" type="text" placeholder="Filter" (keyup)="filter($event.target.value)" aria-label="Search">
          <li class="notes__list" *ngFor="let note of filteredNotes">
            <div class="card w-100 border-primary mb-3">
              <div class="card-body" style="width: 18rem; max-width: 200px;">
                <h5 class="card-title">{{note.title}}</h5>
                <p class="card-text">{{note.content}}</p>
                <button type="button" (click)="viewNote(note)" class="btn btn-outline-info mr-2">Edit</button>
                <button type="button" (click)="deleteNote(note)" class="btn btn-outline-danger">Delete</button>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="notes__body">
    <form class="example-form" [formGroup]="notesForm">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" (input)="noteInfo($event)" formControlName="title" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Details</mat-label>
        <textarea matInput placeholder="Add details" formControlName="content"></textarea>
      </mat-form-field>
      <button type="button" (click)="addNote()" class="btn btn-outline-primary mr-3">Save</button>
      <button type="button" (click)="reset()" class="btn btn-outline-dark">Cancel</button>

    </form>
  </div>
</div>
<router-outlet></router-outlet>