<div class="top__bar">
  <h4>Top Bar</h4>
  <button mat-raised-button (click)="addNote()">Add Note</button>
</div>
<div class="main__content">
  <div class="notes__info">
    <h4>{{notes}}</h4>
    <div> 
      <ul>
      <li *ngFor="let note of notesData">
      <mat-card class="card" (click)="viewNote(note)">
        <mat-card-title>{{note.title}} </mat-card-title>
        <mat-card-content>{{note.content}} </mat-card-content> 
      </mat-card>
    </li>
    </ul>
    </div>
  </div>
  <div class="notes__body">
    <form class="example-form" [formGroup]="notesForm">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" (input)="noteInfo($event)" formControlName="title" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Details</mat-label>
        <textarea matInput placeholder="Add details" formControlName="content"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
<router-outlet></router-outlet>